<!-- <div class="container-fuild">
  <div class="container">
    <br>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" style="width: 100%" routerLink="chat/login">Login</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" style="width: 100%" routerLink="chat/signup">Register</button>&nbsp;
      </div>
    </div>
  </div>
</div> -->




<nav class="navbar">

  <div class="container">

    <h1 class="logo">Elancer</h1>
    <ul class="nav nav-right">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="chat/login">Login</a></li>
      <li><a routerLink="chat/signup">SignUp</a></li>
      <li><a routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <!--/.container-->

</nav>
<!--/.navbar-->








<router-outlet></router-outlet>
<!-- <section>
  
  <div class="bgPulse">
    <span></span>
    <span></span>
    <span></span>
    <router-outlet></router-outlet>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section> -->