<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext">

<!-- navbar -->
<!-- <nav class="navbar">

    <div class="container">

        <h1 class="logo">Elancer</h1>
        <ul class="nav nav-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

</nav> -->
<!--/.navbar-->







<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- 
<section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
              <a class="navbar-brand" href="#"><img src="img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Services</a></li>
                <li class=""><a href="#about">About</a></li>
                <li class=""><a href="#testimonial">Testimonial</a></li>
                <li class=""><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="https://bootstrapmade.com/demo/Medilab/img/logo.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
              <h1 class="white">Healthcare at your desk!!</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="#contact" class="btn btn-appoint">Make an Appointment.</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!-- <div class="image-aboutus-banner">
<div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">Elancer it solutions pvt ltd</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
    </div>
</div>
</div> -->



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">
</head>

<body>
    <div class="banner">
        <div class="topnav">
            <div class="text ttitle">
            </div>
            <div class="text nav ralign">

            </div>
        </div>
        <h1>Welcome to Elancer</h1>
        <p></p>
    </div>
    <div class="box">
        <div class="box3">
            <h1>
                Bounding Box
            </h1>
            <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            </p>
            <a class="More" href="#">More</a>
        </div>
        <div class="box3 line">
            <h1>Semantic Segmentation

            </h1>
            <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            </p>
            <a class="More" href="#">More</a>
        </div>
        <div class="box3 line">
            <h1>3D Point Cloud
            </h1>
            <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            </p>
            <a class="More" href="#">More</a>
        </div>

    </div>

    <div class="boxp">
        <div class="title">
            <h1> our clients</h1>
            <p></p>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic03.jpg">

            <h3>Magna</h3>
            <p>Cipdum dolor</p>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic04.jpg">


            <h3>Ipsum</h3>
            <p>Vestibulum comm</p>
        </div>
        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic05.jpg">

            <h3>Tempus</h3>
            <p>Fusce pellentes</p>
        </div>

        <div class="boxphoto">
            <img src="https://templated.co/items/demos/theory/images/pic06.jpg">

            <h3>Dolore</h3>
            <p>Praesent placer</p>
        </div>

    </div>
    <div class="box2p">
        <div class="title">
            <h1>OUR AMAZING TEAM
            </h1>
            <p>Aliquam erat volutpat nam dui </p>
        </div>
        <div class="pbox">
            <div class="photo">
                <img src="http://elancerits.com/img/team/2.JPG" width="100%">

                <h3>Praesent placerat magna</h3>
                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu
                    erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                <a class="More" href="#">More</a>
            </div>

            <div class="photo">
                <img src="http://elancerits.com/img/team/1.JPG" width="100%">

                <h3>Praesent placerat magna</h3>
                <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit.
                    Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                <a class="More" href="#">More</a>
            </div>
        </div>
        <hr class="line">
    </div>
    <div class="last">
        <div class="combo ralign social">
            <a href="#"> <i class="fa fa-facebook " aria-hidden="true"></i> </a>
            <a href="#"> <i class="fa fa-twitter " aria-hidden="true"></i> </a>
            <a href="#"> <i class="fa fa-linkedin " aria-hidden="true"></i> </a>
            <a href="#"> <i class="fa fa-pinterest-p " aria-hidden="true"></i> </a>
            <a href="#"> <i class="fa fa-vimeo " aria-hidden="true"></i> </a>
        </div>

    </div>


</body>


</html>